<h2>Cadastrar</h2>
<form class="pv-form">
    <label>Id: </label><input type="text" name="id" [(ngModel)]= "vaga.id"><br>
    <label>Nome: </label><input type="text" name="nome" [(ngModel)]= "vaga.nome"><br>
    <label>Foto: </label><input type="text" name="foto" [(ngModel)]= "vaga.foto"><br>
    <label>Descrição: </label><input type="text" name="descricao" [(ngModel)]= "vaga.descricao"><br>
    <label>Salário: </label><input type="text" name="salario" [(ngModel)]= "vaga.salario"><br>
    <button id="ca" type="button" (click)="cadastrar()">Cadastrar</button>
    <button id="at" type="button" (click)="atualizar(vaga.id)">Atualizar</button>
    <button id="ex" type="button" (click)="excluir(vaga.id)">Excluir</button>
</form>